* {
  font-family: 'Times New Roman', Times, serif;
}

body{
  padding: 60px;
  background:linear-gradient(to right,#e6a87e,#bcb6db,#e9faca,#47db91,rgb(244, 246, 240))
}

input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

/*.cardGrid{
  display: flex;
  font-size: 1.2rem;
  width: 100%;
}*/
.cardGrid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 5px solid rgb(53, 207, 66);
  background-color: rgb(228, 222, 222);
  border-radius: 6px;
  margin-bottom: 1px;
  margin-right: 400px;
  overflow: hidden;
  text-align: center;
}


.card p{
  padding: 5px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .card img{
   max-height: 170px;
 }